aiodns==3.5.0
aioftp==0.26.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
dnspython==2.8.0
frozenlist==1.7.0
idna==3.10
multidict==6.6.4
propcache==0.3.2
pycares==4.10.0
pycparser==2.22
requests==2.32.5
urllib3==2.5.0
yarl==1.20.1
